body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


header {
    width: 100%;
    background-color: #030712;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 68px;

}

.logo p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 68px;
}

.nav-links li {
    display: inline;
}
.logo a{
    text-decoration: none;
    color: white;
}
.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #d3d3d3;
    border-radius: 5px;
}


body {
    background-color: #111827;
    padding-top: 60px;
}

.download-cv-button{
    background-color: #F9FAFB;
    color: #111827;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#divider{
    font-size: 40px;
}

.download-cv-button:hover {
    background-color: #555;
}

section {
    padding: 50px;
    color: #ffffff;
    text-align: center;
    scroll-margin-top: 68px;
    width: auto;
}

#salutation-section {
    display:flex;
    padding: 96px 80px 96px 80px;
    background-color: #030712; 
    column-gap: 250px;
}

.salutation{
    display: flex;
    padding: 0px 32px 0px 32px;
    flex-direction: row;
    gap: 98px;
}

#hi{
    display: flex;
    text-align: left;
    font-size: 50px;
    margin: 0px;
}

#my-description{
    display: flex;
    text-align: justify;
    margin-bottom: 20px;
    justify-content: left;
}

.location-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px; 
    vertical-align: middle;
}

.location-info{
    display: flex;
    justify-content: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    color: #D1D5DB;
}

.location-info p{
    margin:0px;
}

.looking-job{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 16px;
    color: #D1D5DB;
}

.social-icons-init{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.bullet-icon {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-right: 22px;
    vertical-align: middle;
}

.profile-picture {
    justify-content: center;
    align-items: center;
}

.profile-frame {
    background-color: #68667f;
    padding: 10px;
    border-radius: 15px;
}

.profile-frame img {
    border-radius: 10%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#about-me-section {
    display: flex;
    padding: 96px 80px 96px 80px;;
    background-color: #111827; 
    align-items: center;
    gap: 48px;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
}

.sdasd{
    display: flex;
    flex-direction: row;
    gap: 100px
}
.about-me-tag {
    background-color: #374151;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin: 0px auto 20px auto;
    padding: 4px 20px 4px 20px;
    width: 122px;
    height: 28px;
    justify-content: center;
    align-content: center;
}

.profile-picture {
    display: flex;
    align-items: flex-start;
}

.description {
    text-align: justify;
    align-self: flex-start;
}

.description h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.description p {
    font-size: 16px;
    margin-bottom: 20px;
}

.description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.description li {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

#work-section { 
    background-color: #030712;
    padding: 96px 80px 96px 80px;
}

.check-list{
    display: flex;
    gap: 30px;
}

#skills-section {
    display: flex;
    flex-direction: column;
    background-color: #030712;
    padding: 96px 80px 96px 80px;
}

#experience-section { 
    display: flex;
    flex-direction: column;
    background-color: #5abccd; 
    padding: 96px 80px 96px 80px;
}

#work-section { 
    display: flex;
    flex-direction: column;
    background-color: #5abccd; 
    padding: 96px 80px 96px 80px;
    background-color: #FF4500; 
}

#testimonials-section{
    display: flex;
    background-color: #111827; 
    padding: 96px 80px 96px 80px;
    text-align: center;
    color: #D1D5DB;
    flex-direction: column;
    gap: 48px;
}

.first-testimonial-row{
    display: flex;
    flex-direction: column;
    height: 72px;
    gap: 16px;
}

.testimonial-tag {
    background-color: #374151;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin: 0px auto 0px auto;
    padding: 4px 20px 4px 20px;
    width: 122px;
    height: fit-content;
    justify-content: center;
    align-content: center;
}

#testimonials-section p {
    font-size: 16px;
    margin-top:0;
    margin-bottom: 0px;
}

.second-testimonial-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    border-radius: 12px 0px 0px 0px;

}


.testimonial-card {
    background-color:#1F2937;
    text-align: left;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    min-width: 300px;
    padding: 40px;
    border-radius: 12px;
    flex: 1;
}

.testimonial-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e4044;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
}

.testimonial-image img {
    width: 40px;
    height: 40px;
}

.testimonial-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    text-align: center;
}

.testimonial-card p {
    font-size: 14px;
}
.ocupation{
    text-align: center;
}

#contact-section {
    padding: 96px 80px 96px 80px;
    background-color: #030712;
    color: #cccccc;
    text-align: center;
}

.contact-tag {
    background-color: #374151;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin: 0px auto 20px auto;
    padding: 4px 20px 4px 20px;
    width: 122px;
    height: 28px;
    justify-content: center;
    align-content: center;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto 30px;
}

.contact-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}


.contact-info a {
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
}

.copy-icon {
    width: 20px; /* Ajusta el tamaño según tu preferencia */
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: opacity 0.3s;
}

.copy-icon:hover{
    opacity: 0.5;
}

.social-text {
    font-size: 16px;
    margin-bottom: 20px;
}


.social-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.social-icon:hover {
    opacity: 0.5;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


footer {
    background-color: #111827;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}

footer p {
     color: #cccccc;
}